#customer-enter-container
{

}
#form-container
{
    display: flex;
    height: 100vh;  
    align-items: center;
    justify-items: flex-start;
}
#form-intro
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-right: 60px;
}
#form-intro h1
{
    margin-bottom: 50px;
    font-weight: bold;
}
#form-intro img
{
    width: 300px;
}
#form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-left: 60px;
}
#form input
{
    width: 300px;
}
#form button
{
    margin-top: 20px;
    width: 300px;
}
@media screen and (max-width: 800px)
{
    #form-container
    {
        flex-direction: column;         
        align-items: center;
        justify-content: center; 
        height: fit-content;
        margin-top: 100px;       
    }
    #form
    {
        margin-left: 0;
        align-items: center;
        width: 100%;
    }
    #form-intro
    {
        justify-content: flex-end;
        align-items: center;
        margin-right: 0;
        width: 100%;
    }

} 