.default-password-box-container
{
    width: fit-content;
}
.default-password-box
{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 28px 10px 10px;
    font-size: 1.1em;
    border: 1px solid #eee;
    border-radius: 5px;
}
.password-box-inner-container
{
    position: relative;
    width: fit-content;
}
.default-password-box:hover
{
    border-color: #ccc;    
}
.default-password-box:focus
{
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px #FF634840;
}
.password-box-error
{
    color: var(--error-color);
    display: none;
    align-items: center;
    justify-content: left;
    padding-bottom: 10px;
    padding-top: 5px;
    display: none; 
    font-size: smaller;
    font-weight: bold;
}
.password-box-error i
{
    color: var(--error-color);
    margin-right: 10px;
}
.toggle-password-span
{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.toggle-password-span i
{
    
    color: var(--text-color);
}