.about-stats-card-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    padding: 20px;
}
.about-stats-card-ring
{

}
.about-stats-card-ring-circle
{
    stroke-dasharray: 439.8 439.8;
    stroke-dashoffset: 439.8;
    animation: about-stats-card-ring-circle-animate 1.5s forwards ease-in-out;
}
@keyframes about-stats-card-ring-circle-animate
{
    to
    {
        stroke-dashoffset: 100;
    }
}
.about-stats-card-ring text
{
    font-size: 30px;
    font-weight: bold;
    fill: var(--text-color);
}
.about-stats-card-container p
{
    font-size: 30px;
    text-align: center;
}