
  @media screen and (max-width: 500px)
  {
      .background
      {
        
        flex-direction: column;         
        align-items: center;
        justify-content: center;
        height: fit-content;
        margin-top: 100px;
      }
    }
    .offer-rate{
      position: absolute;
      top:512px;
      left: 92%;
    }